.banner_title{
    word-spacing: 2px;
    margin: 0 0 10px;
    text-transform: capitalize;
    color: #000;
    line-height: 66px;
    width: 830px;
    @media screen and (max-width:600px) {
       width: 340px;
       font-size: 28px;
       line-height: 48px;
    }
}
