.imageItem{
    transition:all 0.5s ease-in-out;
   
    i.expandIcon{
          display: none; 
          color: rgb(255, 0, 0);
          font-size: 20px; 
          transition:all 0.5s ease-in;
          cursor: pointer;
    }
    div.blurCover{
        width: 0;
        height: 100%;
        background-color:rgba(0, 0, 0, 0.5) ;
        position: absolute;
        z-index: 1000;
        transition:all 0.5s ease-in;
       
    }
    :hover{
        transform: scale(1.06);
        
    }

}

.imageItem:hover{
    i.expandIcon{
        display: block;
        position: absolute;
        top: 50%;
        right: 50%;
        transform:translate(50%,-25%);
        z-index: 1100;
         font-size:25px;
        cursor: pointer;
    }
    div.blurCover{
        width: 100%;
        border-radius: 10px;
        overflow: hidden;

    }
}

.galleryImage{
    border-radius: 10px;
    overflow: hidden;
}
.fullWrapper{
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    div{
        border-radius: 10px;
        overflow: hidden;
        img:hover{
            transform: scale(1.4) rotate(5deg);

        }
    }
}





