@font-face {
  font-family: Vazirmatn-RD;
  src: url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Round-Dots/fonts/webfonts/Vazirmatn-RD[wght].woff2') format('woff2 supports variations'),
       url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Round-Dots/fonts/webfonts/Vazirmatn-RD[wght].woff2') format('woff2-variations');
  font-weight:100 900;
  font-style: normal;
  font-display: swap;
}
*{
  font-family: Vazirmatn-RD;
}
html,
body {
  padding: 0;
  margin:0;
  text-align:right;
    line-height:1.1;
    font-weight: 400;
    font-size: 16px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin:0;
}
a {
  color: inherit;
  text-decoration: none;
}

li{
  list-style: none;
}
